 //to reset element-ui default css
.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

//暂时性解决diolag 问题 https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}
//element ui upload
.upload-container {
  .el-upload {
    width: 100%;
    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}
.el-submenu .el-menu-item {
  padding-left: 55px !important;
  height:56px;
  line-height: 56px;
}
.el-tabs__header {
  margin: 0
}
.el-checkbox__inner{
  width: 16px;
  height: 16px;
}
.el-dialog__header{
  border-bottom: 1px solid #e6e6e6
}

.el-range-separator{
    padding:0px!important;
}

.el-message-box__message{
  margin:20px 0px;
  font-size:16px;
}

.el-table__body-wrapper{
  height: calc(100vh - 404px);
  overflow-y:auto;
}
.el-table::before{
  height:0px;
}
.fontW{
   font-weight: bold;
}


.el-table .has-gutter tr .cell{
  color: #363636;
}