@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  width:100%;
  height:100%;
  background:#F0F2F5;
}

html {
  box-sizing: border-box;
  width:100%;
  height:100%;
  background:#F0F2F5;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus{
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main{
  min-height: 100%
}

.app-container {
  padding: 20px;
}



//客户管理样式
.el-input--prefix.search-input-box .el-input__inner{
      padding-left:10px!important;
  }
  .search-input-box{
      max-width:350px;
      float:right;
      .el-input__prefix{
          left:initial;
          right:5px;
          cursor: pointer;
      }
  }
  .inline{
    display:inline-block;
    font-size:14px;
    margin-left:30px;
    margin-top:15px;
    margin-bottom:15px;
  }
  .selectionBox{
    height:30px;
    line-height:30px;
    background:#E6F7FF;
    border: 1px solid #91D5FF;
    border-radius:4px;
    margin-top:40px;
    font-size:12px;
    box-sizing:border-box;
    padding:0px 20px;
    /*position:absolute;
    bottom:20px;
    box-sizing:border-box;
    width:calc(100% - 280px);*/
    span{
      margin-right:20px;
      color:#1890FF;
    }
  }
  /*html,body,#app{
      height: 100%;
      width:100%;
      position:relative;
  }*/
  .operationBtn{
      color:#1890FF;
      padding:0px 5px;
      cursor:pointer;
  }
  .cursorterBox{
      .demonstration{
          width:110px;
          text-align:right;
          display:inline-block;
      }
      .el-date-editor{
          .el-range-separator{
              padding:0px;
          }
      }
  }
  .el-table{
      // margin-top:20px;
      .has-gutter tr{
          background:#f5f8fd;
          color:#363636;
      }
  } 



//详情弹窗样式
  #slide-window{
      position: fixed!important;
      top: 65px;
      bottom: 6px;
      background: #f5f8fc;
      width:715px;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 200;
      box-shadow: -7px 0 10px #edeff2;
      overflow: hidden;
      overflow-y: auto;
      .el-tabs__content{
        height: calc(100vh - 200px);
        overflow-y: auto;
      }
      .el-table__body-wrapper{
        height:auto!important;
      }
      .el-icon-close{
          font-size:22px;
          color:#000;
          float:right;
          margin-top:15px;
          cursor: pointer;
          &:hover{
              color:#1890FF;
          }
      }
      .slide-window-header{
        padding:0px 20px;
        border-bottom:1px solid #e4e7ed;
        h4{
          display:inline-block;
          margin:15px 0px;
        }
      }
      .el-tabs{
        padding:10px 20px
      }
      .el-tabs__nav{
        width:100%;
      }
      .el-tabs__item{
        width:20%;
        text-align:center;
      }
      .el-radio{
        height:40px;
        line-height:40px;
        margin-left:0px;
        width:100px;
      }
      .historyBox{
        font-size:14px;
        p span{
          display:inline-block;
          margin-right:40px;
        }
        div{
          margin-bottom:30px;
        }
      }
      .mealAllowancebox{
        font-size:14px;
        span{
          display:inline-block;
          margin-right:10px;
        }
        div{
          padding:5px 0px 0px 20px;
        }
      }
      .el-tabs__header{
        margin: 0 0 15px;
      }
  }
  .slide-fade-enter-active {
    transition: all .3s ease;
    width:715px;
    opacity: 1;
  }
  .slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.5, 1.0);
    width:0px;
    opacity:0;
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active for below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }


  .label-top{
      .el-form-item__label{
          margin-top:14px;
      }
  }
  .el-row-wrap {
    background: #fff;
    padding: 10px 20px;
  }

  .align-center {
    text-align: center
  }
  .vertical-middle{
    vertical-align: middle
  }

  .background-FFF{
      background:#fff;
  } 
  .padding-20{
    padding:10px 20px 20px 20px;
  }
  .padding-10{
    padding:10px 20px;
  }
  .padding-0{
    padding:0px 10px;
  }
  .height-100{
    height:calc(100vh - 180px);
    box-sizing: border-box;
    overflow-y:auto;
  }

  .margin-top-15{
      margin-top:15px;
  }


  .el-dialog__footer{
    text-align:center;
  }
  .dialog770 .el-dialog{
      width:770px;
  }

  .dialog770 .el-select{
    width:150px;
    margin:0px 10px;
  }
  .ellipsis{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    display:inline-block;
  }
  .width168{
    width:180px;
  }
  .width90{
    width:90px;
  }
  .width190{
    width:190px;
  }
  .width290{
    width:315px;
  }
  
  .eltablebodywrapperheight{
    .el-table__body-wrapper{
        height:calc(100vh - 475px);
    }
  }

  #slide-window .mealAllowancebox span:nth-child(3n){
    margin-right:0px;
  }
  

  ::-webkit-scrollbar  
{  
    width: 6px;  
    height: 6px;  
    background-color: #f5f8fc;  
}  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    border-radius: 10px;  
    background-color: #f5f8fc;  
}    
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #bdbdbd;  
}  
/*滑块效果*/
::-webkit-scrollbar-thumb:hover
{
border-radius: 5px;
-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
background: rgba(0,0,0,0.4);
}

.widthDialog500{
    .el-dialog{
      width:500px;
    }
}